<h1>New Event for <%= @group.name %></h1>
<%= form_with(model: [@group, @event], url: group_events_path(@group)) do |f| %>
  <% if @event.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@event.errors.count, "error") %> prevented saving:</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_field :date %>
  </div>
  <div class="actions">
    <%= f.submit "Create Event" %>
  </div>
<% end %>
<%= link_to "Back", group_path(@group) %>